* {
  font-family: Arial, Helvetica, sans-serif
}

.logo {
  height: 100px
}

.navigation-link {
  color: green !important
}

li{
  color: rebeccapurple
}

p:hover {
  color: blue
}

p::first-letter{
  color: crimson
}

figcaption:hover {
  color: darkmagenta
}